
.Card{
    background-color: rgba(255 , 255, 255, 0.51);
    border: 1px solid #f9f9f9;
    /* background-color: aqua; */
 margin:20px 15px;
    height: 35;
    width: calc(100% - 30px);
    display: flex;
    padding: 12px 0 12px 15px;
    border: 2px solid rgba(200 , 200, 200, 0.51);
    border-radius: 16px;
}
.phone-icon{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5px;
}
.phone-icon .img{
    max-height: 60%;
    width: 60%;
    /* opacity: 0.6; */
    /* border: 1px solid lightgray;
    border-radius: 18px; */
    /* padding: 4px; */
    padding-right: 15px;

    color: rgba(200 , 100, 100, 1);
}
.dottedLine{
    border-top: 2px dotted #e2e2e2;
    /* background-color: red; */
    z-index: 1000;
    position: relative;
    width: calc(100% + 15px);
}
.to{
    padding: 8px 0 0 0;
    color:#999;
    font-size: 11px;
}